.carta{
	text-align: center;
	
}


	
	
	

	
	
	.carta-link {
		color: black;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
	&:hover{
		color: red;
		background-size: 100% 3px;
	}
	}
		
	
	
