*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Rubik',sans-serif;
}

/*Pagina de informacion*/

.section{
	padding-top: 250px;
	
}

.tabla_informacion img{
	margin-right: 30px;
}

.imagen_final{
	margin-bottom: 100px;
}

/*Pagina de contacto*/

.formulario{
	padding-top: 150px;
	padding-bottom: 100px;
}
.mapa_contacto{
	width: 100%;
	height: 250px;
	margin-bottom: 50px;
	
}

.mapa_contacto iframe{
	width: 95%;
	height: 100%;
	margin-left: 45px;
}


@media (max-width: 480px){

/*header*/
.header{
	position: relative;
}
.header-nav{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"logo"
	"nav";
}
.nav{
	flex-direction: column;
}

/*slider*/
.slider-div{
	padding-top: 50px;
	
}
.slider-div img{
		width: 90%;
		
	}


/*cartas*/
.cards{
	flex-direction: column;
	align-items: center;
}

/*separador*/
.separador{
	display: none;
}

/*textos*/

.nosotros{
grid-template-columns: 1fr;
grid-template-rows: 0.5fr 2fr;

	grid-template-areas: 
	"logo"
	"txt";
}

.nosotros_empresa{
	display: none;
	
}

/*footer*/
.logo-footer img{
	margin-left: 20%;
	
}

/*Pagina de informacion*/

.tabla_informacion img{
	display: none;

}
.section img{
	width: 100%;
}
.section{
	padding-top: 100px;
}

/*pagina de contacto*/


.mapa_contacto{
	width: 100%;
}
.mapa_contacto iframe{
	width: 100%;
	margin: 0;
}

}
