*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Rubik',sans-serif;
}

@media (max-width: 760px){

/*separador*/
.separador{
	display: none;
}

/*Pagina de informacion*/

.section img{
	width: 100%;
}
.section{
	padding-top: 100px;
}

}
