*{	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Rubik',sans-serif;
	
}
.social {
	position: fixed; 
 	left: 0; 
	bottom: 0px; 
	z-index: 2000; 
	ul {
		list-style: none;
		li a  {
		display: inline-block;
		color: white;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
		&:hover{
			background: #000; 
			padding: 10px 30px; 
		}
	}
	}
}

	.icon-linkedin {background: #00abf0;}
	.icon-whatsapp {background: #23e30e;}
	.icon-instagram {background: #b61d50;}
	
	
@media (max-width: 760px){

/*separador*/
.separador{
	display: none;
}

/*Pagina de informacion*/

.section img{
	width: 100%;
}
.section{
	padding-top: 100px;
}

}		


	

 	
 	
		

