.nosotros{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.nosotros_izquierda{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		.nosotros_logo{
			width: auto
		}
		
	}
	.nosotros_txt{
		@extend .nosotros_izquierda;
		text-align: center;
		p{
			@include links($color, $size);
			margin-top: map-get($map: $margin, $key: nav );
			&:hover{
				color: black;
			
				}
		}
	}
}


	
	
	


