.separador{
    width: 100%;
    height: 221px;
    margin-top: map-get($map: $margin, $key:l );
    margin-bottom: map-get($map:$margin , $key:l );
    background-image: url("../imagenes/separador.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
 }