* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding-bottom: 100px;
}
.header .container-fluid {
  width: 80%;
}
.header .container-fluid .nav-item {
  margin-right: 50px;
}
.header .container-fluid .nav-item .nav-link {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.header .container-fluid .nav-item .nav-link:hover {
  color: red;
  background-size: 100% 3px;
}

.nav_list {
  display: flex;
  align-items: flex-start;
}

.container_img {
  display: flex;
  justify-content: center;
}

.carta {
  text-align: center;
}

.carta-link {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.carta-link:hover {
  color: red;
  background-size: 100% 3px;
}

.separador {
  width: 100%;
  height: 221px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("../imagenes/separador.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.nosotros, .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotros .nosotros_izquierda, .footer .nosotros_izquierda, .nosotros .nosotros_txt, .footer .nosotros_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nosotros .nosotros_izquierda .nosotros_logo, .footer .nosotros_izquierda .nosotros_logo, .nosotros .nosotros_txt .nosotros_logo, .footer .nosotros_txt .nosotros_logo {
  width: auto;
}
.nosotros .nosotros_txt, .footer .nosotros_txt {
  text-align: center;
}
.nosotros .nosotros_txt p, .footer .nosotros_txt p {
  font-size: 15px;
  color: black;
  margin-top: 50px;
}
.nosotros .nosotros_txt p:hover, .footer .nosotros_txt p:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.social {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2000;
}
.social ul {
  list-style: none;
  padding-left: 0px;
}
.social ul li a {
  display: inline-block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 500ms ease;
}
.social ul li a:hover {
  background: #000;
  padding: 10px 30px;
}

.icon-linkedin {
  background: #00abf0;
}

.icon-whatsapp {
  background: #23e30e;
}

.icon-instagram {
  background: #b61d50;
}

@media (max-width: 760px) {
  /*separador*/
  .separador {
    display: none;
  }
  /*Pagina de informacion*/
  .section img {
    width: 100%;
  }
  .section {
    padding-top: 100px;
  }
}
.footer {
  margin-top: 100px;
  border-top: 1px black solid;
  margin-bottom: 10px;
}
.footer .footer_datos {
  text-align: center;
}
.footer .logo-footer {
  display: flex;
  justify-content: center;
}

.slider_div {
  padding-top: 150px;
  padding-bottom: 15px;
}
.slider_div .texto-slider {
  background: black;
  opacity: 0.9;
  border-radius: 15px;
}
.slider_div .texto-slider h5 {
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.slider_div .texto-slider p {
  color: white;
  font-weight: bold;
}

.div_informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
.div_informacion .tabla_informacion {
  margin-top: 100px;
}
.div_informacion img {
  width: 100%;
}

.mapa_contacto {
  width: 100%;
  height: 250px;
}
.mapa_contacto .mapa {
  width: 100%;
  height: 100%;
}

.formulario {
  padding-top: 250px;
}

.boton-send {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.boton-send button {
  width: 75px;
  height: 30px;
  background-color: white;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}
.boton-send button:hover {
  box-shadow: 0 4px 16px red;
  transition: all 0.2s ease;
}/*# sourceMappingURL=style.css.map */